      body {
        margin: 0;
        font-family: 'open sans', sans-serif;
        font-size: .9em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        --background-color: rgb(190, 190, 190);
        background-color: var(--background-color);
        transition: background-color 0.5s ease;
        background-image: linear-gradient(
          270deg, 
          rgba(255, 255, 255, 0.1),
          rgba(0, 255, 255, 0.1) 25%,
          rgba(0, 0, 255, 0.1) 50%,
          rgba(255, 0, 255, 0.1) 75%,
          rgba(255, 255, 255, 0.1)
        );
      }
      
      .header-container {
        display: flex;
        align-items: center;
        position: absolute;
        top: 5px;
        right: 5px;
        gap: 5px;
        line-height: 2;
      }

      .toggleTitle {
      font-size: 0.8vw;
      color: rgb(0, 0, 0);
      }

      .toggleButton {
        width: 1.5vw;
        cursor: pointer;
      }

      .delete-tab {
      width: 1.5vw; 
      cursor: pointer;
      margin: 2px; 
      }


      .voiceButton {
        width: 1.5vw;
        cursor: pointer;
      }

      .userMessage {
        font-weight: bold;
      }

      .giant-logo{
        position: absolute;
        bottom: 7vh;
        right: 20vw;
        width: 5vw;
        z-index: -1;
      }

      .container {
        position: relative;
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        width: 60vw;
        height: 85vh;
        text-align: center;
        background: rgba(255, 255, 255, 0.01); 
        border-radius: 10px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02),
                    0 1px 3px rgba(0, 0, 0, 0.02);
        backdrop-filter: blur(4px); 
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3); 
      }

      #cursor-light {
      width: 40px;
      height: 40px;
      border-radius: 60%;
      position: fixed;
      pointer-events: none;
      background: radial-gradient(circle, yellow 30%, transparent 90%);
      transform: translate(-50%, -50%);
      transition: left 0.1s, top 0.1s;
      filter: blur(8px);
      z-index: 9999;
      }

      /* input */
      .input-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        width: 60vw; 
        }

        .logo {
          width: 1.5vw;
        }

        .input {
        width: 100%;
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 10px;
        border: 0;
        border-bottom: 0.1px solid rgb(0, 0, 0);
        outline: 0;
        color: rgb(0, 0, 0);
        text-shadow: 0 0 5px rgba(38, 38, 38, 0.8);
        background: transparent;
        transition: 0.1s;
        resize: none;
        font-family: inherit;
        overflow-y: auto; 
        box-sizing: border-box;
        line-height: 1.5;
        height: 3em; 
        max-height: 6em; 
        }

        .input::-webkit-scrollbar {
        display: none;
        }

        .input {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
        }


      /* Light Theme Autofill */
      .input-light-theme:-webkit-autofill,
      .input-light-theme:-webkit-autofill:hover,
      .input-light-theme:-webkit-autofill:focus,
      .input-light-theme:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px white inset !important;
          box-shadow: 0 0 0 30px white inset !important;
          -webkit-text-fill-color: black !important;
      }

      /* Dark Theme Autofill */
      .input-dark-theme:-webkit-autofill,
      .input-dark-theme:-webkit-autofill:hover,
      .input-dark-theme:-webkit-autofill:focus,
      .input-dark-theme:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px black inset !important;
          box-shadow: 0 0 0 5px black inset !important;
          -webkit-text-fill-color: white !important;
      }

      #output {
        position: relative;
        margin-top: 20px;
        height: 75vh;
        overflow-y: auto;
        padding: 5px;
        color: rgb(0, 0, 0);
        text-shadow: 0 0 5px rgba(250, 250, 250);
        text-align: left;
        z-index: 1;
      }

      .typing-cursor {
        display: inline-block;
        width: 2.5px;
        height: 1em;
        background-color:#EB0173;
        margin-left: 2px;
        animation: blink 1s steps(2, start) infinite;
      }

      @keyframes blink {
          to {
              visibility: hidden;
          }
      }
      
      .copyButton {
        cursor: pointer;
        width: 15px;
        visibility: hidden; 
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      table,
      th,
      td {
        border: 1px solid #797979;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
      }

      .code-block {
        background-color: rgb(0, 0, 0);
        border: 1px solid #ddd;
        padding: 10px;
        color: green;
        overflow-x: auto;
        white-space: pre-wrap;
        border-radius: 10px;
      }

      #sources-container {
        padding-top: 5px;
      }

      .source-item {
      padding: 1px;
      margin-bottom: 1px;
      border-bottom: .5px solid #eee;
      font-size: .8em;
      color: rgb(113, 113, 113);
      text-align: left;
      }

      .largeFont {
        font-size: 2.5em !important;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
      }

      /* download button */
      .file-container {
        position: relative;
        display: inline-block;
        }

      .download-btn {
        background-color: rgba(189, 188, 188, 0.253);
        color: white;
        padding: 5px 5px;
        border: .1px solid #ffffff;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        margin: 10px;
        text-decoration: none;
        transition: background-color 0.5s ease;
        }

        .download-btn:hover {
        background-color: #888586;
        animation: fade 1s ease-in-out;
        }

        .delete-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px; 
        height: 20px;
        display: none;
        cursor: pointer;
        }

        .file-container:hover .delete-icon {
        display: block;
        }

      /* submit button */
      #submit {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        border: none;
        cursor: pointer;
      }

      #submit img {
        width: 30px;
        
      }

      /* upload button */
        .file-btn {
        position: absolute;
        left: 0px;
        top: 50%;
        padding-bottom: 0px;
        transform: translateY(-50%);
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
      }

      .file-btn img {
        width: 30px;
      }

      .disabled-button {
        opacity: 0.5;
        cursor: not-allowed;
      }

      .box-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }

      .box {
        width: 48%;
        height: 18vh;
        min-height: 150px;
        background: #f1efef;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
        padding: 3%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: 1%;
      }

      .text-section {
        font-size: .8em;
        font-family: 'IBM Plex Mono', monospace;
        width: 100%;
      }
      

      .response {
        color: rgb(30, 30, 30);
        font-size: 13px;
      }

      .error {
        color: red;
      }  

      #mobile-warning {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        color: #000000;
        text-align: center;
        font-size: 1em;
        border: 2px solid #000000;
        padding: 20px;
        width: 80%;
      }

      #mobile-warning p {
        color: #000000;
      }

      @media screen and (max-height: 400px) {

        #output {
          height: 50vh;
        }

        #messages {
          bottom: 20vh;
        }
      }

      @media screen and (max-width: 767px) {
        #output {
          display: none;
        }

        .giant-logo {
          display: none;
        }

        .toggleButton{
          display: none;
        }

        .voiceButton {
          display: none;
        }

        #messages {
          display: none;
        }

        .logo-wrapper {
          display: none;
        }

        .talk-to-data {
          display: none;
        }

        #mobile-warning {
          display: block;
        }
        
        .container {
          display: none;
        }
      }